

@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>

<p>
    <a id="add-new-group" class="btn btn-success" onclick="Create()">افزودن سرگروه جدید</a>
</p>

<div id="ListGroups">
    @Html.Action("ListGroups")
</div>





<script>
    function Create() {
        $.get("/Admin/Product_Groups/Create",
            function (result) {
                $("#myModal").modal("show");
                $("#myModalLabel").html("افزودن گروه جدید");
                $("#myModalBody").html(result);
            });
        }
     function success() {
        $("#myModal").modal('hide');
    }
    //$('#add-new-group').click(Create);
</script>











